# Automatically set by Railway when you add the PostgreSQL plugin
DATABASE_URL=postgresql://user:password@host:5432/dbname

# Setze selbst einen geheimen Token für Admin-Endpoints
ADMIN_TOKEN=change_me_to_something_secret
